body {
    margin: 0;
}

footer {
    background-color: #7f5126;
    margin: 0;
    padding: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px !important;
}

.section1 {
    display: flex;
    justify-content: center;
    color: white;
    gap: 75px;
}

.unorList {
    list-style: none;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 340px;
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.left-text {
    color: white; 
}

.right-text {
    color: white; 
}