.event{
  background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2em 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-container-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .event-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 100%;  
    display: inline-block;
    position: relative;
    text-align: left;
  }
  
  .event-card h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .event-card p {
    color: #666;
    font-size: 14px;
  }
  
  .event-card .date {
    font-weight: bold;
    color: #333;
  }
  
  .event-card .button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .event-card .button:hover {
    background-color: #555;
  }

  .event-image-container{
    position: relative;
    width: 100%;  
  }

  .event-image{
    width: 100%;
    height: 100%;
  }
